.change__password {
    width: 400px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.change__password-btn {
    margin-top: 0.5rem;
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #73766c;
    color: #fff;
    cursor: pointer;
}

.change__password h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.change__password input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}